[submodule "catkin_ws/catkin_ws/src/franka_ros"]
	path = catkin_ws/catkin_ws/src/franka_ros
	url = https://github.com/chaitanya1chawla/Franka-Emika-Panda-Manipulation-via-Learning-through-demonstration.git
